<div id="app"></div>

<script id="login-view" type="text/x-kendo-template">
    <div id="loginForm" class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Iniciar Sesion</h4>
            <input type="text" id="usuario" name="usuario" class="form-control input-sm chat-input" placeholder="usuario" required validationMessage="Usuario requerido" data-bind="value: usuario" />
            <span class="k-invalid-msg" data-for="usuario"></span>
            </br>
            <input type="text" id="contrasena" name="contrasena" class="form-control input-sm chat-input" placeholder="contrasena" required validationMessage="Contrasena requerida" data-bind="value: contrasena" />
            <span class="k-invalid-msg" data-for="contrasena"></span>
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <a href="#" class="btn btn-primary btn-md" data-bind="click: onBtnloginClick">Entrar<i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>
        </div>
     </div>
</script>

<script id="polizas-view" type="text/x-kendo-tempate">
    <div id="polizasForm" class="row top-buffer">
        <div class="col-lg-12">
            <div id="polizasGrid" name="polizasGrid"
                data-role="grid"
                data-sortable="true"
                data-pageable="true"
                data-scrollable="true"
                data-bind="source: polizasDS,
                           events: { edit: onEditPolizasGrid }"
                data-editable="{
                     create: true,
                     destroy: true,
                     update: true,
                     mode: 'popup',
                     createAt: 'bottom',
                     confirmation: true,
                     template: kendo.template($('#polizas-popup-editor').html())
                }"
                data-toolbar="[{ name: 'create', text: 'Nueva Poliza' }]"
                data-columns='[
                { field: "agencia", title: "Agencia", template: "#= agencia.nombre #" },
                { field: "tipoCubrimiento", title: "Tipo Cubrimiento", template: "#= tipoCubrimiento.nombre #" },
                { field: "tipoRiesgo", title: "Tipo Riesgo", template: "#= tipoRiesgo.nombre #" },
                { field: "clientes", title: "Clientes", template: polizaViewModel.clientesPolizaGridTemplate },
                { field: "nombre", title: "Nombre" },
                { field: "descripcion", title: "Descripcion" },
                { field: "inicioVigencia", title: "Inicio Vigencia", format: "{0:dd/MM/yyyy}" },
                { field: "coberturaMeses", title: "Cobertura (Meses)", format: "{0:n0}" },
                { field: "precio", title: "Precio", format: "{0:c0}" },
                { field: "porcentajeCubrimiento", title: "Cubrimiento (%)", format: "{0:n0}" },
                { "command": ["edit", "destroy"], title: "&nbsp;" }]'>
            </div>
        </div>
    </div>
</script>

<script id="polizas-popup-editor" type="text/x-kendo-template">
    <div id="polizaEditForm" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="ddlAgenciaModal">Agencia:</label>
            <div class="col-sm-6">
                <input id="ddlAgenciaModal" name="ddlAgenciaModal" required validationMessage="La agencia es obligatoria" style="width: 250px;"
                       data-role="dropdownlist"
                       data-auto-bind="false"
                       data-option-label="--Seleccione--"
                       data-text-field="nombre"
                       data-value-field="id"
                       data-bind="source: agenciaDS,
                                  value: agencia" />
                <span class="k-invalid-msg" data-for="ddlAgenciaModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="ddlTipoCubrimientoModal">Tipo Cubrimiento:</label>
            <div class="col-sm-6">
                <input id="ddlTipoCubrimientoModal" name="ddlTipoCubrimientoModal" required validationMessage="El Tipo Cubrimiento es obligatorio" style="width: 250px;"
                       data-role="dropdownlist"
                       data-auto-bind="false"
                       data-option-label="--Seleccione--"
                       data-text-field="nombre"
                       data-value-field="id"
                       data-bind="source: tipoCubrimientoDS,
                                  value: tipoCubrimiento" />
                <span class="k-invalid-msg" data-for="ddlTipoCubrimientoModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="ddlTipoRiesgoModal">Tipo Riesgo:</label>
            <div class="col-sm-6">
                <input id="ddlTipoRiesgoModal" name="ddlTipoRiesgoModal" required validationMessage="El Tipo Riesgo es obligatorio" style="width: 250px;"
                       data-role="dropdownlist"
                       data-auto-bind="false"
                       data-option-label="--Seleccione--"
                       data-text-field="nombre"
                       data-value-field="id"
                       data-bind="source: tipoRiesgoDS,
                                  value: tipoRiesgo" />
                <span class="k-invalid-msg" data-for="ddlTipoRiesgoModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="multiClientesModal">Clientes:</label>
            <div class="col-sm-6">
                <select id="multiClientesModal" name="multiClientesModal" required validationMessage="Debe seleccionar al menos un cliente" style="width: 250px;"
                       data-role="multiselect"
                       data-auto-bind="true"
                       data-placeholder="Seleccione un cliente"
                       data-text-field="nombre"
                       data-value-field="id"
                       data-bind="source: clienteDS,
                                  value: clientes" />
                <span class="k-invalid-msg" data-for="multiClientesModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="txtNombreModal">Nombre:</label>
            <div class="col-sm-6">
                <input id="txtNombreModal" name="txtNombreModal" type="text" class="k-textbox" required validationMessage="El Nombre es obligatorio" style="width: 250px;"
                       data-bind="value: nombre" />
                <span class="k-invalid-msg" data-for="txtNombreModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="txtDescripcionModal">Descripcion:</label>
            <div class="col-sm-6">
                <input id="txtDescripcionModal" name="txtDescripcionModal" type="text" class="k-textbox" required validationMessage="La Descripcion es obligatoria" style="width: 250px;"
                       data-bind="value: descripcion" />
                <span class="k-invalid-msg" data-for="txtDescripcionModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="dpInicioVigenciaModal">Inicio Vigencia:</label>
            <div class="col-sm-6">
                <input id="dpInicioVigenciaModal" name="dpInicioVigenciaModal" required validationMessage="El Incio de Vigencia es obligatorio" style="width: 250px;"
                       data-role="datepicker"
                       data-format="dd/MM/yyyy"
                       data-bind="value: inicioVigencia" />
                <span class="k-invalid-msg" data-for="dpInicioVigenciaModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="ntxtCoberturaMesesModal">Meses Cobertura:</label>
            <div class="col-sm-6">
                <input id="ntxtCoberturaMesesModal" name="ntxtPrecioModal" required validationMessage="Los meses son obligatorios" style="width: 250px;"
                       data-role="numerictextbox"
                       data-format="n0"
                       data-min="1"
                       data-decimals="0"
                       data-bind="value: coberturaMeses" />
                <span class="k-invalid-msg" data-for="ntxtPrecioModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="ntxtPrecioModal">Precio:</label>
            <div class="col-sm-6">
                <input id="ntxtPrecioModal" name="ntxtPrecioModal" required validationMessage="El precio es obligatorio" style="width: 250px;"
                       data-role="numerictextbox"
                       data-format="c0"
                       data-min="1"
                       data-decimals="0"
                       data-spinners="false"
                       data-bind="value: precio" />
                <span class="k-invalid-msg" data-for="ntxtPrecioModal"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 required" for="ntxtPorcentajeCubrimientoModal">Cubrimiento (%):</label>
            <div class="col-sm-6">
                <input id="ntxtPorcentajeCubrimientoModal" name="ntxtPorcentajeCubrimientoModal" required validationMessage="El porcentaje es obligatorio" style="width: 250px;"
                       data-role="numerictextbox"
                       data-format="\\# \\%"
                       data-min="1"
                       data-decimals="0"
                       data-spinners="false"
                       data-bind="value: porcentajeCubrimiento" />
                <span class="k-invalid-msg" data-for="ntxtPorcentajeCubrimientoModal"></span>
            </div>
        </div>
    </div>
</script>